<a href="https://colab.research.google.com/github/sanjayk3873/Datascience-course/blob/main/Sanjay_DS_Assg1_listfun_dockstri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists and their functions**

In [15]:
sklst1 = [100,50,1,2,70,[20,1,2,3],[2,3,6,100]]

In [16]:
#print(), to print the loaded list
print(sklst1)

[100, 50, 1, 2, 70, [20, 1, 2, 3], [2, 3, 6, 100]]

In [18]:
sklst1.append(1)
#Append object to the end of the list

In [19]:
print(sklst1)

[100, 50, 1, 2, 70, [20, 1, 2, 3], [2, 3, 6, 100], 1]

In [25]:
sklst1.sort
print(sklst1)
#Sort the list in ascending order and return None

[1, 2, 50, 70, 100, [20, 1, 2, 3], [2, 3, 6, 100], 1]

??here, 5, 6 and 7 indexes are not sorted

In [46]:
sorted.sklst1
#Return a new list containing all items from the iterable in ascending order.

AttributeError: ignored

In [33]:
sklst1.remove(1)
# Remove first occurrence of value.

In [34]:
print(sklst1)

[2, 50, 70, 100, [20, 1, 2, 3], [2, 3, 6, 100], 1]

??didnt remove 1 from 5 and 7th indexes

In [36]:
sklst1.insert(0,200)
#Insert object before index

In [37]:
print(sklst1)

[200, 2, 50, 70, 100, [20, 1, 2, 3], [2, 3, 6, 100], 1]

In [38]:
sklst1.pop(0)
#Remove and return item at index (default last).

200

In [39]:
print(sklst1)

[2, 50, 70, 100, [20, 1, 2, 3], [2, 3, 6, 100], 1]

In [40]:
sklst1.count(100)
# Return number of occurrences of value.

1

??why not in 5th index

In [41]:
sklst1.clear()
#Remove all items from list.
print(sklst1)

[]

In [47]:
sk2 = [1,2,3,4,5,10,2,4,9]

In [48]:
len(sk2)
# Return the number of items in a container

9

In [49]:
print(max(sk2))
#gives the largest value in the list

10

In [50]:
type(sk2)

list